// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
  text-align:center;
}

.example {
  margin: 10px auto;
  width:600px;
  background: #9ACD32;
}

body{
  background: #f0fff0;
}
